.link {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer;
}

.link:hover {
  color: var(--primary-color);
}